.about {
  position: relative;
  z-index: 2;
  min-height: 100vh;
  padding: 2rem;
  background: black;
  color: white;
  font-family: 'Dongle', sans-serif;
  font-size: 1.5rem;
}

section {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  min-height: 100vh;
  padding-left: 2rem;
}

.hidden {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 2s ease-out, transform 2s ease-out;
}

.show {
  opacity: 1;
  transform: translateX(0);
}

section h1 {
  font-size: 60px;
  text-align: left;
  margin-left: 20rem;
  margin-bottom: 0px;
}

section .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; /* Allow items to wrap on smaller screens */
}

section p {
  font-size: 30px;
  text-align: left;
  width: 100%;
  margin-left: 15rem;
  margin-right: 10rem;
  flex: 1;
}

.line {
  width: 0%;
  height: 4px;
  background: rgb(104, 115, 211);
  transition: width 1s ease-in-out;
  margin-left: 20rem;
  transition-delay: 2s;
}

.show .line {
  width:270px;
}

.profile-pic {
  height: 45vh;
  margin-right: 2rem;
  padding: 20px 20px;
  background-color: rgba(25, 25, 35, 0.8);
  border-radius: 25px;
  width: fit-content;
  box-shadow: 0px 4px 10px rgba(66, 66, 94, 0.8);
  margin-top: 2rem;
  margin-left: 17rem;
}

@media (max-width: 1200px) {
  section h1 {
    margin-left: 10rem;
  }

  section p {
    margin-left: 5rem;
    margin-right: 5rem;
  }

  .line {
    margin-left: 10rem;
  }

  .profile-pic {
    margin-left: 10rem;
  }
}

@media (max-width: 768px) {
  section {
    padding-left: 1rem;
  }

  section h1 {
    font-size: 50px;
    margin-left: 5rem;
  }

  section p {
    font-size: 25px;
    margin-left: 2rem;
    margin-right: 2rem;
  }

  .line {
    margin-left: 5rem;
  }

  .profile-pic {
    margin-left: 5rem;
  }
}

@media (max-width: 480px) {
  section h1 {
    font-size: 40px;
    margin-left: 2rem;
  }

  section p {
    font-size: 20px;
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .line {
    margin-left: 2rem;
  }

  .profile-pic {
    margin-left: 2rem;
  }
}